**/.vscode
**/*.code-workspace
**/*.gitattributes
**/*.exe
**/*.out
**/*.o
**/*.jpg
**/*.zip
/Matérias/POO1/Aulas práticas/Exercicio1/nbproject/private/
/Matérias/POO1/Aulas práticas/AulaPratica1/nbproject/private/
/Matérias/POO1/Aulas práticas/AulaPratica1/build/
/Matérias/POO1/Aulas práticas/AulaPratica1/dist/
